<div class="footer-container">
    <hr>
    <ul>
        <li><a rel='me' href='https://aliciabytes.com'>Personal Website</a></li>
        <li><a rel='me' href='https://tech.lgbt/@AliciaBytes'>Mastodon</a></li>
        <li><a rel='me' href='https://github.com/AliciaBytes'>GitHub</a></li>
        <li><a rel='me' href='https://www.linkedin.com/in/aliciamiedl/'>LinkedIn</a></li>
    </ul>
</div>
